<h1 id="title"><%= @title -%></h1>

<div class="left-column">
<h3>Interactions</h3>
<h2 id="fullcount"><%= @fullcount -%></h2>

<h3>Unique Users</h3>
<h2 id="unique_authors"><%= @unique_authors -%></h2>

<h3>Photos</h3>
<h2 id="photos"><%= @photos -%></h2>
</div>

<div class="right-column">
<h3>Articles &amp; Blog Posts</h3>
<h2 id="news"><%= @news -%></h2>

<h3>Comments on Articles</h3>
<h2 id="comments"><%= @comments -%></h2>

<h3>Clicks</h3>
<h2 id="clicks"><%= @clicks -%></h2>
</div>

<div class="middle-column">
<h3>Twitter Leaderboard</h3>
<div id="leaderboard">
	<%= render partial: "leaderboard", include: @leaderboard -%>
</div>

</div>

<% if params[:secret] == "true" -%>
<div id="secret">
  <%= render partial: "secret", include: @recent -%>
</div>
<% end %>

<script type="text/javascript">
	
function worker() {
  $.ajax({
    <% if params[:secret] == true -%>
    url: '/update.js', 
    <% else -%>
    url: '/update.js?secret=true',
    <% end -%>
    complete: function() {
    	console.log("updated")
      // Schedule the next request when the current one's complete
      setTimeout(worker, 5000);
    }
  });
};

$( document ).ready(function() {
	worker();
});

</script>
