<h1 id="title"><%= @title -%></h1>

<div class="left-column">
<h3>Interactions</h3>
<h2 id="fullcount"><%= @fullcount -%></h2>

<h3>Unique Users</h3>
<h2 id="unique_authors"><%= @unique_authors -%></h2>

<h3>Photos</h3>
<h2 id="photos"><%= @photos -%></h2>
</div>

<div class="right-column">
<h3>Articles &amp; Blog Posts</h3>
<h2 id="news"><%= @news -%></h2>

<h3>Comments on Articles</h3>
<h2 id="comments"><%= @comments -%></h2>

<h3>Clicks</h3>
<h2 id="clicks"><%= @clicks -%></h2>
</div>

<div class="middle-column">
<h3>Twitter Leaderboard</h3>
<div id="leaderboard">
	<%= render partial: "leaderboard", include: @leaderboard -%>
</div>

</div>

<% if params[:secret] == "true" -%>
<div id="secret">
  <%= render partial: "secret", include: @recent -%>
</div>
<% end %>

<script type="text/javascript">
	
function worker() {
  $.ajax({
    <% if params[:secret] == true -%>
    url: '/update.js', 
    <% else -%>
    url: '/update.js?secret=true',
    <% end -%>
    complete: function() {
    	console.log("updated")
      // Schedule the next request when the current one's complete
      setTimeout(worker, 5000);
    }
  });
};

$( document ).ready(function() {


var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var parseDate = d3.time.format("%Y-%m-%d %H:%M:%S %z").parse;

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var area = d3.svg.area()
    .x(function(d) { return x(d.date); })
    .y0(height)
    .y1(function(d) { return y(d.close); });

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.tsv("/data.tsv", function(error, data) {
  data.forEach(function(d) {
    d.date = parseDate(d.date);
    d.close = +d.close;
  });

  x.domain(d3.extent(data, function(d) { return d.date; }));
  y.domain([0, d3.max(data, function(d) { return d.close; })]);

  svg.append("path")
      .datum(data)
      .attr("class", "area")
      .attr("d", area);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Price ($)");
});


});
</script>
